<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OBilet</title>
            <link rel="stylesheet" href="~/css/fontawesome/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/select2.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script>
        function todaySelect() {
            $("#DepartureDate").val("@DateTime.Now.ToString("yyyy-MM-dd")");
        };

        function tomorrowSelect() {
            $("#DepartureDate").val("@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")");
        };
    </script>

</head>
<body>

    <div class="container" >
        <main role="main" style="left: 50%; top: 50%; transform: translate(-50%, -50%); position: absolute;">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
